/* Utilizando fontes especificas*/

@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
    --roxo-gamifica: #47208b;
    --laranja-gamifica: #f06638;
}

/* Reset de CSS - Limpa configuracoes padrao que atrapalham */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Seletores - seleciona elementos para estilizar 
Seletor por tag - todos os elementos com a tag 

div {
    height: 500px;
    width: 200px;
    background-color: bisque;
    border: solid 8px black;
}

 seletor por classe - seleciona os elementos com a clase */

.banner {
    /* vh - porcentagem da altura da viewport */
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 165% 40%;
    position: relative;
}

.primeiro-banner {
    background-image: linear-gradient(90deg, rgba(53, 24, 104, 1)0%, rgba(53, 24, 104, 0.8)100%), url(img/WhatsApp\ Image\ 2024-04-04\ at\ 2.32.49\ PM.jpeg);
}

.segundo-banner {
    background-image: linear-gradient(90deg, rgba(24, 104, 36, 1)0%, rgba(24, 104, 36, 0.8)100%), url(img/WhatsApp\ Image\ 2024-04-04\ at\ 2.32.49\ PM.jpeg);
}

.terceiro-banner {
    background-image: linear-gradient(90deg, rgba(104, 24, 48, 1)0%, rgba(104, 24, 48, 0.8)100%), url(img/WhatsApp\ Image\ 2024-04-04\ at\ 2.32.49\ PM.jpeg);
}

#botao-anterior,
#botao-proximo {
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
}

#botao-anterior {
    left: 4%;
}

#botao-anterior svg,
#botao-proximo svg {
    fill: #ffffff76;
}

#botao-proximo {
    right: 4%;
}

.botoes {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -75px;
    /* tecnica milenar para centralizar elementos usando o position, é presciso fazer margin negativa da metade do width do elemento */
}

.botoes button {
    width: 30px;
    background: none;
    cursor: pointer;
    border: none;
}

.botoes button svg {
    fill: #ffffff76;
}

header {
    height: 165px;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 290px;
}

header button {
    display: none;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    font-family: "Anta";
    font-size: 20px;
    color: white;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo-banner {
    /* Altura deve ser 100% da tela-altura do header*/
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    font-size: 32px;
    color: white;
    font-family: "Anta";
}

.conteudo-banner span {
    border-right: 6px solid var(--laranja-gamifica);
    animation:
        digitando 2s steps(40, end),
        cursor 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

/*animacao span*/
@keyframes digitando {
    form {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--laranja-gamifica);
    }
}

#sobre {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 100px 25%;
}

h2 {
    font-size: 28px;
    font-family: "Anta";
}

#sobre p {
    font-family: "Montserrat";
    font-size: 17px;
    text-align: left;
}

/* navegacao por ancora nao funciona sem id*/

#cases {
    height: 800px;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;

}

.container-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cases h2 {
    margin-bottom: 70px;
}

.card {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--roxo-gamifica);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px #000;
}

.card img {
    height: 55%;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.card p {
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat';
    color: white;
    padding: 7%;
}

.card button {
    height: 40px;
    width: 90%;
    background-color: var(--laranja-gamifica);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 500ms;
}

.card button:hover {
    background-color: #ad4929;
}

#portifolio {
    height: 250px;
    margin-bottom: 120px;
    background-image: url(img/bonecos.png);
    background-size: 250px;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
}

.filtro {
    height: 100%;
    width: 100%;
    background-color: #47208bc2;
    position: absolute;
    top: 0;
}

#portifolio .container-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portifolio a {
    width: fit-content;
    font-family: "Anta";
    font-size: 28px;
    color: white;
    z-index: 0;
}

#portifolio a:hover {
    transform: scale(1.05);
}

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato h2 {
    padding-bottom: 70px;
}

#contato form {
    width: 50%;
    background-color: var(--roxo-gamifica);
    margin: 0 auto;
    padding: 60px 0;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Montserrat";
}

#contato form label {
    margin-bottom: 15px;
    font-size: 17px;
}

.campo {
    width: 60%;
    margin-bottom: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 40px;
    color: white;
    background-color: #351868;
    border: none;
    border-radius: 4px;
    outline: none;
    text-indent: 10px;
    font-size: 17px;
    font-family: "Montserrat";
}

.campo-textarea {
    width: 60%;
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea textarea {
    color: white;
    background-color: #351868;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    font-family: "Montserrat";
    font-size: 17px;
    resize: none;
}

.campo input:focus,
.campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-gamifica);
}

#contato form button {
    height: 40px;
    width: 60%;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: var(--laranja-gamifica);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms ease;
}

#contato form button:hover {
    background-color: #ad4929;
}

#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #b9b9b9;
}

footer {
    background-color: var(--roxo-gamifica);
    height: 290px;
}

footer .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    align-items: flex-end;
}

.redes-sociais p {
    font-family: "Anta";
    font-size: 24px;
    color: white;
}

.icones-redes {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.icones-redes a {
    color: white;
}

.icones-redes a:hover {
    color: var(--laranja-gamifica);
}

.menu-fechado {
    display: none;
}

#icone-barras {
    display: none;
}

@media screen and (max-width :1300px) {
    header {
        position: relative;
    }

    header button {
        width: 50px;
        display: unset;
        background: none;
        border: none;
    }

    header svg {
        fill: white;
    }

    nav.menu {
        flex-direction: column;
        justify-content: space-around;
        background-color: #000000f0;
        height: 500px;
        width: 350px;
        position: absolute;
        top: 165px;
        right: 0px;
        padding: 0px 30px;
        z-index: 1;
    }

    #sobre {
        padding: 100px 15%;
    }

    .card {
        height: 320px;
        width: 200px;
    }

    #contato form {
        width: 65%;
    }
}

@media screen and (max-width: 1080px) {
    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        height: 325px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    footer {
        height: unset;
    }

    footer .container-grid {
        flex-direction: column;
        padding: 80px;
    }

    footer img {
        margin-bottom: 100px;
    }

    footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .redes-sociais {
        align-items: center;
    }

    .contato form {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 640px) {
    #sobre {
        height: unset;
        margin-bottom: 40px;
    }

    #sobre h2 {
        margin-bottom: 50px;
    }

    #sobre p {
        margin-bottom: 30px;
    }

    #cases,
    #contato {
        margin-bottom: unset;
    }

    #portifolio a {
        width: 100%;
        text-align: center;
    }

    .campo,
    .campo-textarea,
    #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .container-grid {
        width: 90%;
    }

    header img {
        width: 200px;
    }

    .banner {
        background-size: cover;
    }

    .conteudo-banner p {
        font-size: 24px;
    }

    nav.menu {
        width: 100%;

    }

    #sobre {
        padding-left: 0;
        padding-right: 0;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #cases.container-grid {
        margin: unset;
        width: 100%;
    }

    .container-cards {
        flex-wrap: nowrap;
        gap: 40px;
        overflow: auto;
    }

    .card {
        flex-basis: unset;
        height: 400px;
        width: 280px;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portifolio {
        margin-bottom: 0;
    }

    #contato h2 {
        margin-bottom: 0;
    }

    #contato {
        padding-top: 70px;
        background-color: var(--roxo-gamifica);
        color: white;
    }

    #contato form {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px) {
    .conteudo-banner p {
        font-size: 20px;
    }

    header svg {
        width: 40px;
    }

    header img {
        width: 165px;
    }

    footer img {
        width: 200px;
    }
}